In [11]:
import pandas as pd
model_name= "small_model"
classifier = "great_parameters"
current_timestamp =12344
labelname="tttt"
f1_score=0.2
accuracy =0.4
stability = 0.4

df = pd.DataFrame(columns=['model_name', 'model_parameters', 
                                                        'time_stamp','label_name','cross_val_f1_score','cross_val_acc_score','stability'])
df = df.append({'model_name' :model_name,'model_parameters':classifier, 
                            'time_stamp' :current_timestamp,'label_name':labelname,'cross_val_f1_score':f1_score,'cross_val_acc_score':accuracy,'stability':stability} , ignore_index=True)
df.to_csv('history.csv',index=False)

In [22]:
df=pd.read_csv('history.csv')
model_name= "small_model"
classifier = "great_parameters"
current_timestamp =12344
labelname="tttt"
f1_score=0.2
accuracy =0.4
stability = 0.4


df = df.append({'model_name' :model_name,'model_parameters':classifier, 
                                        'time_stamp' :current_timestamp,'label_name':labelname,'cross_val_f1_score':f1_score,'cross_val_acc_score':accuracy,'stability':stability} , ignore_index=True)
df.to_csv('history.csv',index=False)

In [23]:
df

,model_name,model_parameters,time_stamp,label_name,cross_val_f1_score,cross_val_acc_score,stability
0,small_model,great_parameters,12344,tttt,0.2,0.4,0.4
1,small_model,great_parameters,12344,tttt,0.2,0.4,0.4
2,small_model,great_parameters,12344,tttt,0.2,0.4,0.4

In [26]:
df=pd.read_csv('history.csv')

In [27]:
df

,model_name,model_parameters,time_stamp,label_name,cross_val_f1_score,cross_val_acc_score,stability
0,small_model,great_parameters,1.234400e+04,tttt,0.200000,0.400000,0.400000
1,small_model,great_parameters,1.234400e+04,tttt,0.200000,0.400000,0.400000
2,small_model,great_parameters,1.234400e+04,tttt,0.200000,0.400000,0.400000
3,LogisticRegression,"LogisticRegression(C=1.0, class_weight='balanc...",1.567496e+09,offtopic,0.530265,0.661866,0.946437